@model cp5MVC.Models.PacienteModel

@{
    ViewData["Title"] = "Editar Paciente";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Editar" method="post">
    <input type="hidden" asp-for="IdPaciente" />
    <div class="form-group">
        <label asp-for="NomeCompleto" class="control-label"></label>
        <input asp-for="NomeCompleto" class="form-control" />
        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataNascimento" class="control-label"></label>
        <input asp-for="DataNascimento" class="form-control" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CPF" class="control-label"></label>
        <input asp-for="CPF" class="form-control" />
        <span asp-validation-for="CPF" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Endereco" class="control-label"></label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Telefone" class="control-label"></label>
        <input asp-for="Telefone" class="form-control" />
        <span asp-validation-for="Telefone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a class="btn btn-secondary" href="@Url.Action("Index", "Paciente")">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
